@page "/"

<div class="container-fluid">
    <div class="row">
        <div style="width:92px;">
            <img src="/favicon.svg" alt="logo" style="height:5rem" />
        </div>
        <div style="width:calc(100% - 140px);">
            <h2>Aging Health Technologies</h2>
            <p>Análisis de Largo de Telómeros y edad biológica</p>
        </div>
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
